/*
Custom Css
*/
.forgot_password{
	color:grey;
	text-decoration: none;
}
.forgot_password:hover{
	color:grey;
}

.register_link{
	color:#111;
	font-style: bold;
}

.register_link:hover{
	color:#111;
	font-style: bold;
}

.customer_personal_settings{
	color:rgb(0, 0, 0);
	text-decoration: none;
}

.customer_personal_settings:hover{
	color:#111;
	font-style: bold;
}

  .dropdown-personal {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content-personal {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content-personal a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content-personal a:hover {background-color: #f1f1f1;}
  .dropdown-personal:hover .dropdown-content-personal {display: block;}
  .dropdown-personal:hover .dropbtn-personal {background-color: #3e8e41;}

  #product_name_hyperlink_style{
	color: #111;
  }